*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
out
target
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# c and assembly
fst

# report latex
*.aux
*.log
*.lol
*.lot
*.lof
*.out
*.toc

# vim
*.swp

# IDE files
.idea
*.iml

# OS files
.DS_Store